body {
    /* background-color: #83C400; */
    background-image: linear-gradient(to right,#007E7E, #FFF);
    font-family: 'Overlock SC';
}

/* overlay can be added in a later stage of this project if needed */
/* .overlay { 
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(94,156,156,.3) !important;
  z-index:1;

} */

.row-content{
  width: 100%;
}

.header{
  /* background-image: url('../images/two_men_running.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

nav {
  font-size: 20px;
  font-weight: 700;
}

nav img {
  height: 65px;
  border-radius: 50%;
  border: 2px solid #D20000;
  /* box-shadow: 9px -3px 1px 0px #D20000; */
  /* box-shadow: 8px -6px 9px 0px #FF4F4F;; */
}

/* this class can be added in a later stage on this project if needed */
/* .nav-link {
  color: #D20000 !important;
  text-shadow: 5px -3px 8px #FF4F4F;
} */

.toggle-custom {
  /* border-color: #D20000; */
  color: #FFF;
  font-size: 23px;
}

.button-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 5em;
  border-radius: 300px;
  border: 2px solid #FFF;
}

.donate-button {
  background-color: #ffd500;
}

.description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
  
}
.description h1{
  font-size: 3em;
  color: #FFF ;
}
.description p{
  color:#FFF;
  font-size: 1.5em;
  /* width: 75%; */
  line-height: 1.5;
}
.description button{
  color:#fff;
  border-radius: 300px;
  border: 2px solid #FFF;
}

.contact-sumbit-button {
  color: #fff;
  border-radius: 300px;
  border: 2px solid #FFF;
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 100%;
    height: 600px;
  }
  
  .carousel-inner {
    /* make sure your .items will get correct height */
    height: 100%;
  }
  
  .carousel-item { 
    background-size: cover;
    /* background-position: 50% 50%; */
    /* width: 100%; */
    height: 100%;
    /* max-width: 1400px;
    margin: auto; */
  }

  p {
    font-size: 3.7vh;
    color: #006767;
  }

  .paragraph-contact {
    font-size: 1.2em;
    color: #000;
  }

  footer img {
    height: 65px;
    border-radius: 50%;
    border: 2px solid #D20000;
  }

  footer p {
    color: #FFF;
    font-size: 1.5vh;
  }


  .footer-row {
    margin-right: 0px;
    margin-left: 0px;
  }


  .img-responsive {
        width: 100%;
        height: 600px;
        /* max-width: 1400px; */
  }

/***************************************** Side banner style ****************************************/
@text-color: #1c1733;
@bg-color: #ffd500;
@button-background-color: #1c1733;
@button-text-color: white;

.exponea-side-banner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 150px;
  color: #1c1733;
  font-family: sans-serif;
  z-index: 10000;
  /* pointer-events: none; */
  padding: 1.2em 3em 0 1.2em;
  min-height: 800px;
}

.exponea-side-banner svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  fill: #ffd500;
}

.exponea-side-banner .exponea-side-banner-content {
  position: relative;
  z-index: 10;
}

.exponea-side-banner span {
  display: block;
  position: relative;
}

.exponea-side-banner .exponea-side-banner-content-title,
.exponea-side-banner .exponea-side-banner-content-more{
  width: 100%;
  transition: opacity 0.3s;
  text-align: left;
}

.exponea-side-banner .exponea-side-banner-content-title {
  font-weight: 600;
}

.exponea-side-banner .exponea-side-banner-content-more {
  text-decoration: underline;
  font-size: 0.85em;
  padding: 1em 0 0;
}

.exponea-side-banner:hover .exponea-side-banner-content-hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0.3s;
}

.exponea-side-banner .exponea-side-banner-content-hover-title {
  font-size: 1.2em;
  font-weight: 600;
}

.exponea-side-banner .exponea-side-banner-content-hover-text1 {
  margin-top: 20px;
}

.exponea-side-banner .exponea-side-banner-content-hover-text2 {
  margin-top: 20px;
}

.exponea-side-banner .exponea-side-banner-content-link {
  text-decoration: none;
  color: #FFF;
  background-color: #1c1733;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
  pointer-events: auto;
}

.blinking {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/***************************************** Media Query ****************************************/

    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {
        .carousel {
            height: 540px;
        }

        .img-responsive {
            height: 540px;
        }

        .button-custom {
          font-size: 4em;
        }
    }

    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {
        .carousel {
            height: 430px;
        }
  
        .img-responsive {
            height: 430px;
        }
    }

    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
        .carousel {
          height: 320px;
        }
      
        .img-responsive {
          height: 320px;
        }

        .button-custom {
          font-size: 2.3em;
        }

        .description{
          position: static;
          padding: 1.2em;
        }

        .description h1{
          font-size: 2.5em;
          color: #FFF ;
        }
    } 
